.vidoapresentacao{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textovideo{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    color: rgba(37, 37, 37, 0.486);
}


#doce{
    display: flex;
    justify-content: center;
}


.imagens{
    display: flex;
    justify-content:space-between;
}


.bg-orange-600{
    background-color: white;
    color: black;
}


#prima{
    width: 500px;
    height: 500px;
    border-radius: 5%;
}

#gusto{
    width: 250px;
    height: 250px;
}

#expresso{
    width: 250px;
    height: 250px;
}


#desconto{
    color: rgb(16, 221, 50);
}




.tem{
    display: flex;
     width: 90%;
     height: auto;
     
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
   
}



.btdentro{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 390px) {
  header{
   display: flex;
   flex-direction: column;
   background-color: black;
    
    
    
  }
}

@media screen and (min-width: 390px) {
  .btdentro{
    display: flex;
    flex-direction: column;
    text-align: center;
}
}





@media screen and (min-width: 390px) {
 
.tem p{
    display: flex;
     width: 100%;
     align-items: center;
     margin: 1%;
     padding-left: 10%;
     font-family:sans-serif;
      color: rgba(28, 28, 29, 0.664);

   
}
}




@media screen and (min-width: 390px) {
 
.tem span{
     font-family:sans-serif;
     color: rgba(252, 116, 5, 0.836);
     margin: 3%;
      align-items: center;
      display: flex;
      flex-direction: column;
   
}
}

@media screen and (min-width: 390px) {
 
.tem #prt{
     font-family:sans-serif;
     color: rgba(45, 63, 141, 0.664);
    
   
}
}

@media screen and (min-width: 390px) {
 
.tem #ap{
     font-family:sans-serif;
     color: rgba(28, 28, 29, 0.664);
     width: 100%;
     display: flex;
    flex-direction: column;
    
    
   
}
}



@media screen and (min-width: 390px) {
 
.tem #sb{
     font-family:sans-serif;
      width: 100%;
      height: auto;
     color: rgba(206, 19, 12, 0.664);
     display: flex;
     flex-direction: column;
     text-align: center;
    
    
   
}
}


@media screen and (min-width: 390px) {
 
.tem #junto{
     font-family:sans-serif;
      width: 100%;
      height: auto;
     color: rgba(206, 19, 12, 0.664);
     display: flex;
     flex-direction: column;
     text-align: center;
    
    
   
}
}



@media screen and (min-width: 390px) {
 
#doce{
     font-family:sans-serif;
      width: 95%;
      height: 20px;
     color: rgba(28, 28, 29, 0.664);
     display: flex;
     flex-direction: column;
     text-align: center;
     background-color: white;
     word-wrap: break-word;
    
    
   
}
}




